 <div id="page-content">
<h1 class="text-center">Create new article</h1>

<%= render "form", article: @article %>
<br>
<div class="text-center">
  <%= link_to "Back to articles", articles_path, class:"btn btn-info text-light mb-3" %>
</div>
</div>
