<% if obj.errors.any? %>
<div class="alert alert-danger" role="alert">
    <strong><%= pluralize(obj.errors.count, "error") %></strong> prohibited this <%= obj.class.name.downcase %> from being saved:
    <ul>
        <% obj.errors.each do |error| %>
        <li><%= error.full_message %></li>
        <% end %>
    </ul>
</div>
<% end %>